<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".zegarek_k2_pytania"></activity>
        <activity android:name=".zegarek_k2_nauka" />
        <activity android:name=".Zegark2" />
        <activity android:name=".zegarek_k1_nauka" />
        <activity android:name=".zegarek_k1_pytania" />
        <activity android:name=".geometria_k3_pytania" />
        <activity android:name=".geometriaK3" />
        <activity android:name=".liczbyK3" />
        <activity android:name=".InfQuizK3" />
        <activity android:name=".InfQuizK2" />
        <activity android:name=".liczbyK2" />
        <activity android:name=".liczbyK1" />
        <activity android:name=".geometria_k1_pytania" />
        <activity android:name=".geometria_k1_nauka" />
        <activity android:name=".geometriaK1" />
        <activity android:name=".Zegark1" />
        <activity android:name=".InfQuizK1" />
        <activity android:name=".klasa3" />
        <activity android:name=".klasa2" />
        <activity android:name=".klasa1" />
        <activity android:name=".Level" />
        <activity android:name=".Settings" />
        <activity android:name=".MainMenuActyvity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>