<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".geometriaK1"></activity>
        <activity android:name=".Zegark1" />
        <activity android:name=".InfQuizK1" />
        <activity android:name=".k2Questions.k2_20" />
        <activity android:name=".k2Questions.k2_19" />
        <activity android:name=".k2Questions.k2_18" />
        <activity android:name=".k2Questions.k2_17" />
        <activity android:name=".k2Questions.k2_16" />
        <activity android:name=".k2Questions.k2_15" />
        <activity android:name=".k2Questions.k2_14" />
        <activity android:name=".k2Questions.k2_13" />
        <activity android:name=".k2Questions.k2_12" />
        <activity android:name=".k2Questions.k2_11" />
        <activity android:name=".k2Questions.k2_10" />
        <activity android:name=".k2Questions.k2_9" />
        <activity android:name=".k2Questions.k2_8" />
        <activity android:name=".k2Questions.k2_7" />
        <activity android:name=".k2Questions.k2_6" />
        <activity android:name=".k2Questions.k2_5" />
        <activity android:name=".k2Questions.k2_4" />
        <activity android:name=".k2Questions.k2_3" />
        <activity android:name=".k2Questions.k2_2" />
        <activity android:name=".k2Questions.k2_1" />
        <activity android:name=".klasa3" />
        <activity android:name=".klasa2" />
        <activity android:name=".k1Questions.k1_20" />
        <activity android:name=".k1Questions.k1_19" />
        <activity android:name=".k1Questions.k1_18" />
        <activity android:name=".k1Questions.k1_17" />
        <activity android:name=".k1Questions.k1_16" />
        <activity android:name=".k1Questions.k1_15" />
        <activity android:name=".k1Questions.k1_14" />
        <activity android:name=".k1Questions.k1_13" />
        <activity android:name=".k1Questions.k1_12" />
        <activity android:name=".k1Questions.k1_11" />
        <activity android:name=".k1Questions.k1_10" />
        <activity android:name=".k1Questions.k1_9" />
        <activity android:name=".k1Questions.k1_8" />
        <activity android:name=".k1Questions.k1_7" />
        <activity android:name=".k1Questions.k1_6" />
        <activity android:name=".k1Questions.k1_5" />
        <activity android:name=".k1Questions.k1_4" />
        <activity android:name=".k1Questions.k1_3" />
        <activity android:name=".k1Questions.k1_2" />
        <activity android:name=".k1Questions.k1_1" />
        <activity android:name=".klasa1" />
        <activity android:name=".Level" />
        <activity android:name=".Settings" />
        <activity android:name=".MainMenuActyvity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>